*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.details{
    display: flex;
    gap: 15px;
    margin-top: 20px;
    width: 100%;
    height: 80vh;
}
img{
    display: block;
}
.details h1 , h2 , p{
    margin-top: 15px;
    padding: 10px;
    color: red;
}
