.fetching{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    width: 100%;
    height: 80vh;
}
img{
    display:block;
    width: 100%;
    border-radius: 15px;
}
.photo{
    width: 200px;
    margin-top: 30px;
    margin-left: 10px;
}
.link{
    text-decoration: none;
    color: aliceblue;
}
h1 , p , h2 {
    margin-top: 8px;
}
.loading{
    position: absolute;
    top: 40%;
    left: 40%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border-top: 8px solid red;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
