*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}

.Nav{
    display: flex;
    justify-content: flex-end;
}
button{
    padding: 10px;
    margin:15px;
    box-shadow:0 0 5px rgba(255, 255, 255, 0.959);
    background: white;
    border-radius: 10px;
}
h1{
    color: aliceblue;
    padding: 20px;
    font-size: 30px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.959);
}