.nav{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
button{
    background-color: red;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(255,0,0, 0.9),0 0 8px rgba(255,0,0,1);
    color: aliceblue;
    margin: 15px;
}
